<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>성적 확인</title>
</head>
<body>
    <form>
        <div>
            시험 선택
            {% for cur_exam in exam %}
            <div>
            <A href = "/check-statistics/{{cur_exam.id}}" target = "_self", onfocus="this.blur()", onclick="return confirm_alert(this);"> [{{cur_exam.type}}] {{cur_exam.name}} by {{cur_exam.register}}
            </A>
            <div>
            {% endfor %}
        </div>
    </form>
</body>
</html>